<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>WebShop</title>
</head>
<body>

<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/index}">WebShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Catálogo</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/employees/login}" class="nav-link">Corporativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inicia Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Regístrate</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<!-- Contenido -->
<div class="container" style="padding-top: 30px; padding-bottom: 20px">
    <h3>Agregar Pedido</h3>
    <br>
    <div>

        <form action="#" method="post" th:object="${sale}" th:action="@{/sale/save}">

            <div class="form-group">
                <label for="idSale">idSale</label>
                <input type="text" class="class-controller" id="idSale" placeholder="ingrese el id del pedido" th:field="*{idSale}">
            </div>

            <div class="form-group">
                <label for="saleDate">saleDate</label>
                <input type="date" class="class-controller" id="saleDate" placeholder="ingrese la fecha del pedido" th:field="*{saleDate}">
            </div>

            <div class="form-group">
                <label for="state">state</label>
                <input type="text" class="class-controller" id="state" placeholder="ingrese el estado del pedido" th:field="*{state}">
            </div>

            <div class="form-group">
                <label for="quantity">quantity</label>
                <input type="text" class="class-controller" id="quantity" placeholder="ingrese la cantidad" th:field="*{quantity}">
            </div>

            <button type="submit" class="btn btn-primary">
                Agregar Pedido
            </button>


        </form>


    </div>
</div>

<!-- Footer -->
<footer style="padding-top: 50px; background-color: #747474; height: 330px">
    <div class="container">
        <div class="row">
            <div class="col-sm" style="color: white">
                <h5>SOBRE NOSOTROS</h5>
                <br>
                <br>
                <h6>WebShop</h6>
                <br>
                <h6>Quiénes Somos</h6>
                <br>
                <h6>Nuestras tiendas</h6>
            </div>
            <div class="col-sm" style="color: white">
                <h5>MI CUENTA</h5>
                <br>
                <br>
                <h6>Regístrate</h6>
                <br>
                <h6>Actualiza tus datos</h6>
                <br>
                <h6>Cambia tu clave</h6>
                <br>
                <h6>Olvidaste tu clave</h6>
            </div>
            <div class="col-sm" style="color: white">
                <h5>CONTÁCTANOS</h5>
                <br>
                <br>
                <h6>Facebook</h6><img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" height="30px" width="30px">
                <h6>Instagram</h6><img src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png" height="30px" width="30px">
                <h6>Twitter</h6><img src="http://pngimg.com/uploads/twitter/twitter_PNG3.png" height="30px" width="30px">
            </div>
        </div>
    </div>
</footer>


<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>